<% content_for :titulo do %>
  <%= Sip.titulo %>
<% end %>

<% content_for :menu do %>
  <ul class="navbar-nav mr-auto navbar-right">
    <%= link_to 'Documentación',
      "https://github.com/pasosdeJesus/sip/wiki",
      class: 'dropdown-item' %>
    <% if current_usuario %>
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrar</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to 'Clave',
          main_app.editar_registro_usuario_path,
          class: 'dropdown-item' %>
        <% if can? :manage, Sip::Respaldo7z %>
          <%= link_to 'Copia de respaldo cifrada', 
            sip.respaldo7z_path, 
            class: 'dropdown-item' %>
        <% end %>
        <% if can? :manage, ::Usuario %>
          <%= link_to 'Usuarios', 
            main_app.usuarios_path,
            class: 'dropdown-item' %>
        <% end %>
        <% if can? :manage, :tablasbasicas %>
          <%= link_to 'Tablas Básicas', 
            sip.tablasbasicas_path,
            class: 'dropdown-item' %>
        <% end %>
        <%= link_to 'Tablas Básicas', 
          sip.tablasbasicas_path,
          class: 'dropdown-item' %>
        <%= link_to 'Ayuda CA', 
          sip.ayuda_controldeacceso_path,
          class: 'dropdown-item' %>
        <%= link_to "Salir #{current_usuario.nusuario}", 
          main_app.sign_out_path,
          class: 'dropdown-item' %>
      </div>
    <% else %>
      <%= link_to 'Acerca de', 
        sip.acercade_path,
        class: 'dropdown-item' %>
      <%= link_to 'Iniciar Sesión', 
        main_app.new_usuario_session_path,
        class: 'dropdown-item' %>
    <% end %>
  </ul>
<% end %>

<% content_for :piedepagina do %>
  <p><span class='derechos'><a href="http://www.pasosdejesus.org/dominio_publico_colombia.html">Dominio Público de acuerdo a Legislación Colombiana</a><br/>
    Desarrollado por <a href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>. 2019. 
  </span></p>
<% end %>

<%= render template: "layouts/sip/application" %>
