<% content_for :titulo do %>
  <%= Sip.titulo %>
<% end %>

<% content_for :menu do %>
  <%= grupo_menus do %>
    <% if can? :manage, Mr519Gen::Formulario %>
      <%= drop_down "Formularios" do %>
        <%= menu_item "Listado", mr519_gen.formularios_path, false %> 
        <% if can? :new, Mr519Gen::Formulario %>  
          <%= menu_item "Nuevo", mr519_gen.new_formulario_path, false %> 
        <% end %>   
      <% end %>   
    <% end %>
    <%= drop_down "Encuestas respondidas/pendientes" do %>
      <%= menu_item "Listado a usuario", mr519_gen.encuestasusuario_path,
        false %>
      <% if can? :manage, Mr519Gen::Encuestausuario %> 
        <%= menu_item "Nueva a usuario", mr519_gen.new_encuestausuario_path,
          false%>
      <% end %>
      <%= menu_item "Listado a personas", mr519_gen.encuestaspersona_path,
        false %> 
      <% if can? :manage, Mr519Gen::Encuestapersona %>
        <%= menu_item "Nueva a persona", 
          mr519_gen.new_encuestapersona_path, false %>
      <% end %> 
    <% end %> 
  <% end %>
  <%= grupo_menus empuja: :derecha do %>
    <%= opcion_menu 'Documentación', 
      'https://github.com/pasosdeJesus/sip/wiki' %>
    <% if !current_usuario.nil? %>
      <%= despliega_abajo 'Administrar' do %>
        <%= opcion_menu 'Clave', main_app.editar_registro_usuario_path, 
          false %>
        <% if can? :manage, Sip::Respaldo7z %>
          <%= opcion_menu 'Copia de respaldo cifrada', 
            sip.respaldo7z_path, false %>
        <% end %>
        <% if can? :manage, ::Usuario %>
          <%= opcion_menu 'Usuarios', main_app.usuarios_path, false %>
        <% end %>
        <% if can? :manage, :tablasbasicas %>
          <%= opcion_menu 'Tablas básicas', sip.tablasbasicas_path, false %>
        <% end %>
        <%= opcion_menu 'Ayuda CA', sip.ayuda_controldeacceso_path, false %>
        <%= opcion_menu "Salir #{current_usuario.nusuario}", 
          main_app.sign_out_path, false %>
      <% end %>
    <% else %>
      <%= opcion_menu 'Ayuda CA', sip.ayuda_controldeacceso_path, false %>
      <%= opcion_menu 'Iniciar Sesión', 
        main_app.new_usuario_session_path, false %>
    <% end %>
  <% end %>
<% end %>

<% content_for :piedepagina do %>
  <p><span class='derechos'><a href="http://www.pasosdejesus.org/dominio_publico_colombia.html">Dominio Público de acuerdo a Legislación Colombiana</a><br/>
    Desarrollado por <a href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>. 2019. 
  </span></p>
<% end %>

<%= render template: "layouts/sip/application" %>
