<% content_for :titulo do %>
  <%= Msip.titulo %>
<% end %>

<% content_for :menu do %>
  <%= grupo_menus do %>
    <% if can? :manage, Mr519Gen::Formulario %>
      <%= despliega_abajo "Formularios" do %>
        <%= opcion_menu "Listado", mr519_gen.formularios_path, 
          desplegable: true %> 
        <% if can? :new, Mr519Gen::Formulario %>  
          <%= opcion_menu "Nuevo", mr519_gen.new_formulario_path, 
            desplegable: true %> 
        <% end %>   
      <% end %>   
    <% end %>
    <%= despliega_abajo "Encuestas respondidas/pendientes" do %>
      <%= opcion_menu "Listado a usuario", mr519_gen.encuestasusuario_path,
        desplegable: true %>
      <% if can? :manage, Mr519Gen::Encuestausuario %> 
        <%= opcion_menu "Nueva a usuario", mr519_gen.new_encuestausuario_path,
          desplegable: true%>
      <% end %>
      <%= opcion_menu "Listado a personas", mr519_gen.encuestaspersona_path,
        desplegable: true %> 
      <% if can? :manage, Mr519Gen::Encuestapersona %>
        <%= opcion_menu "Nueva a persona", 
          mr519_gen.new_encuestapersona_path, desplegable: true %>
      <% end %> 
    <% end %> 
  <% end %>
  <%= grupo_menus empuja: :derecha do %>
    <%= opcion_menu 'Documentación', 
      'https://github.com/pasosdeJesus/msip/wiki' %>
    <% if !current_usuario.nil? %>
      <%= despliega_abajo 'Administrar' do %>
        <%= opcion_menu 'Clave', main_app.editar_registro_usuario_path, 
          desplegable: true %>
        <% if can? :manage, Msip::Respaldo7z %>
          <%= opcion_menu 'Copia de respaldo cifrada', 
            msip.respaldo7z_path, desplegable: true %>
        <% end %>
        <% if can? :manage, Mr519Gen::Encuestausuario %>
          <%= opcion_menu 'Planes de encuestas', 
            mr519_gen.planesencuesta_path,
            desplegable: true %>
        <% end %>
        <% if can? :manage, ::Usuario %>
          <%= opcion_menu 'Usuarios', main_app.usuarios_path, 
            desplegable: true %>
        <% end %>
        <% if can? :manage, :tablasbasicas %>
          <%= opcion_menu 'Tablas básicas', msip.tablasbasicas_path, 
            desplegable: true %>
        <% end %>
        <%= opcion_menu 'Ayuda CA', msip.ayuda_controldeacceso_path, 
          desplegable: true %>
      <% end %>
      <%= opcion_menu "Salir #{current_usuario.nusuario}", 
          main_app.sign_out_path %>
    <% else %>
      <%= opcion_menu 'Ayuda CA', msip.ayuda_controldeacceso_path %>
      <%= opcion_menu 'Iniciar Sesión', 
        main_app.new_usuario_session_path %>
    <% end %>
  <% end %>
<% end %>

<% content_for :piedepagina do %>
  <p><span class='derechos'>Sistema de información de 
    <a href='https://github.com/pasosdeJesus/mr519_gen'>código abierto</a> con 
    <a href="https://github.com/pasosdeJesus/msip/blob/main/LICENCIA.md">licencia ISC</a>
    <br/>
    Desarrollado por <a id='pasosdeJesus' href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>. 2022. 
  </span></p>
<% end %>

<%= render template: "layouts/msip/application" %>
