<% if @registro.respond_to?(:respuestafor) && 
    @registro.respuestafor.respond_to?(:formulario) &&
    @registro.respuestafor.formulario %>
  <h1><%= @registro.respuestafor.formulario.nombre %></h1>
<% else %>
  <h1>
    Error con aplicación de encuesta <%= @registro.id %>: 
    falta formulario en respuestafor
  </h1>
<% end %>
<p>
  <% if @registro.respond_to?(:persona) && @registro.persona %>
    Encuesta para <%= @registro.persona.presenta_nombre %>
  <% else %>
    Error con aplicación de encuesta <%= @registro.id %>: 
    no tiene persona
  <% end %>
</p>
<p>
  <% if @registro.respond_to?(:planencuesta) && @registro.planencuesta %>
    Por responder entre el 
    <%= @registro.planencuesta.fechaini_localizada %> 
    y el <%= @registro.planencuesta.fechafin_localizada %>
  <% else %>
    Error con aplicación de encuesta <%= @registro.id %>: 
    no tiene planencuesta
  <% end %>
</p>
<% if current_usuario && can?(:read, @registro) %>
  <p>
  <% if @registro.respond_to?(:fechainv) %>
    Encuesta enviada el <%= @registro.fechainv %> a <%= @registro.destcorreoinv %> con confirmación <%= @registro.evidenciacorreoinv %>
  <% else %>
    Encuesta no enviada por correo 
  <% end %>
  </p>
<% end %>
<p>
  <% if @registro.respuestafor.respond_to?(:fechacambio) %>
    Última edición el <%= @registro.respuestafor.fechacambio_localizada %>
  <% end %>
</p>

