<% f.object = Mr519Gen::Campo.new() if !f.object %>    
<%= f.input :id, as: :hidden %>
<div class='panel panel-default container-fluid'>

  <div class='panel-heading'>
    <h4><%= t('Esquema de tu formulario como texto') %></h4>
  </div>
  <div class='panel-body'>
    <div class='div-campos'>
      <div class="div-tabla">
        <div id="campos_marco" class="div-tabla-cuerpo">
          <div class="div-tabla-fila">
            <div class="div-tabla-celda-encabezado">
              <%= t('Pregunta-Texto') %><br> <%= t('Nombre interno') %>
            </div>
            <div class="div-tabla-celda-encabezado"><%= t('Tipo') %></div>
            <div class="div-tabla-celda-encabezado">
              <%= t('Ayuda en el uso') %><br> <%= t('Opciones') %>
            </div>
            <div class="div-tabla-celda-encabezado">
              <%= t('Obligatorio') %>
            </div>
            <div class="div-tabla-celda-encabezado">
              <%= t('Fila') %> <br> <%= t('Columna') %> <br> <%= t('Ancho') %>
            </div>
            <div class="div-tabla-celda-encabezado">
              <%= t("Acciones") %>
            </div>
          </div>
          <%= f.simple_fields_for(:campo, 
            f.object.campo.order(:fila, :columna, :id)) do |subf| %>
            <%= render partial: "fila_campos", 
              locals: { f: subf } %>
          <% end %>
        </div>
      </div>
      <div class='enlace-agregar-campo'>
        <%= f.submit("Agregar campo", 
          formaction: mr519_gen.crear_campo_path(
            index: @registro.campo.size
          ),
          formmethod: :post,
          formnovalidate: true,
          class: "btn btn-sm btn-primary",
          name: "agregar-campo",
          id: "agregar-campo",
          data:  {
            disable_with: false }) %> 
      </div> <!-- enlace-agregar-campo -->
    </div> <!-- .div-campos -->
  </div><!-- panel-body -->
</div><!-- panel -->

