<% f.object = Mr519Gen::Campo.new() if !f.object %>    
<%= f.input :id, as: :hidden %>
<div class='panel panel-default container-fluid'>

  <div class='panel-heading'><h4><%= t('Esquema de tu formulario como texto') %></h4></div>
  <div class='panel-body'>
    <div class='div-campos'>
      <table class='table table-bordered' border=1 width='100%'>
        <thead>
          <tr>
            <th width='25%'><%= t('Pregunta-Texto') %><br> <%= t('Nombre interno') %></th>
            <th><%= t('Tipo') %></th>
            <th><%= t('Ayuda en el uso') %><br> <%= t('Opciones') %></th>
            <th><%= t('Obligatorio') %></th>
            <th><%= t('Fila') %> <br> <%= t('Columna') %> <br> <%= t('Ancho') %></th>
            <th><%= t('Acciones') %></th>
          </tr>
        </thead>
        <tbody id='campos'>
          <% if f.object.campo.count > 0 %>
            <%= f.simple_fields_for :campo, f.object.campo.
              order(:fila, :columna, :id) do |o| %>
                <%= render 'fila_campos', f:  o %>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <div class='links'>
        <%= link_to_add_association t('Agregar campo'), f, :campo, {
          :'data-association-insertion-node' => 'tbody#campos', 
          :'data-association-insertion-method' => 'append', 
          partial: 'fila_campos',
          class: 'btn btn-sm btn-primary',
          'data-ajax' => mr519_gen.new_campo_path,
          'data-ajaxdata' => 'formulario_id' } %>
    </div> <!-- links -->
    </div> <!-- .div-campos -->
  </div><!-- panel-body -->
</div><!-- panel -->

