<% if obligatorio %>
  <% etiqueta += ' *' %>
<% end %>
<% ihtml = {} %>
<% if ayudae%>
  <% ihtml.merge!({ 'data-toggle' => 'tooltip',
                   "title" => ayudae 
  }) %>
<% end %>
<% if obligatorio %>
  <% ihtml.merge!({ 'required' => 'required' }) %>
<% end %>


<% case tipo %>
<% when Mr519Gen::ApplicationHelper::BOOLEANO %>
  <%= v.input :valor,
    boolean_style: :nested,
    inline_label: etiqueta,
    as: :boolean,
    input_html: ihtml
  %>
<% when Mr519Gen::ApplicationHelper::ENTERO %>
  <%= v.input :valor,
    label: etiqueta, 
    as: :integer,
    input_html: ihtml
  %>
<% when Mr519Gen::ApplicationHelper::FECHA %>
  <% ihtml.merge!({
    "data-behaviour" => "datepicker"
    })
  %>
  <%= v.input :valor,
    label: etiqueta, 
    :as => :string,
    input_html: ihtml
  %>
<% when Mr519Gen::ApplicationHelper::FLOTANTE %>
  <% ihtml.merge!({
    type: 'number',
    step: 0.01 })
  %>
  <%= v.input :valor,
    label: etiqueta, 
    input_html: ihtml
  %>
<% when Mr519Gen::ApplicationHelper::PRESENTATEXTO %>
  <span style="font-weight: bold"><%= etiqueta %></span>
<% when Mr519Gen::ApplicationHelper::SELECCIONMULTIPLE %>
  <% ihtml.merge!({
    class: 'chosen-select',
    multiple: true })
  %>
  <%= v.input :valor_ids,
    collection: Mr519Gen::Opcioncs.where(campo_id: v.object.campo_id),
    label: etiqueta, 
    label_method: :nombre,
    input_html: ihtml
  %>
<% when Mr519Gen::ApplicationHelper::SELECCIONSIMPLE %>
  <% ihtml.merge!({
    class: 'chosen-select' }) 
  %>
  <%= v.input :valor,
    collection: Mr519Gen::Opcioncs.where(campo_id: v.object.campo_id),
    label: etiqueta, 
    label_method: :nombre,
    input_html: ihtml
  %>
<% when Mr519Gen::ApplicationHelper::SMTABLABASICA %>
  <% ihtml.merge!({
    class: 'chosen-select',
    multiple: true })
  %>
  <% if tablabasica.nil? %>
    Problema tablabasica es nil
  <% else %>
    <% tb = current_ability.tablasbasicas.select {|l| l[1] == tablabasica.singularize } %>
    <% if tb.count != 1 %>
      Problema con tablabasica <%= tablabasica %> porque hay <%= tb.count %>
    <% else %>
      <% cla = Ability::tb_clase(tb[0]) %>
      <% col = Sip::ModeloHelper.opciones_tabla_basica(cla, v, :valor_ids) %>
      <%= v.input :valor_ids,
        collection: col,
        label: etiqueta, 
        label_method: :nombre,
        input_html: ihtml
      %>
    <% end %>
  <% end %>
<% when Mr519Gen::ApplicationHelper::SSTABLABASICA %>
  <% ihtml.merge!({
    class: 'chosen-select' }) 
  %>
  <% tb = current_ability.tablasbasicas.select {|l| l[1] == tablabasica.singularize } %>
  <% if tb.count != 1 %>
    Problema con tablabasica <%= tablabasica %> porque hay <%= tb.count %>
  <% else %>
    <% cla = Ability::tb_clase(tb[0]) %>
    <% col = Sip::ModeloHelper.opciones_tabla_basica(cla, v, :valor) %>
    <%= v.input :valor,
      collection: col,
      label: etiqueta, 
      label_method: :nombre,
      input_html: ihtml
    %>
  <% end %>

<% when Mr519Gen::ApplicationHelper::TEXTO %>
  <%= v.input :valor,
    label: etiqueta, 
    input_html: ihtml
  %>
<% when Mr519Gen::ApplicationHelper::TEXTOLARGO %>
  <% ihtml.merge!({ rows: 5}) %>
  <%= v.input :valor,
    label: etiqueta, 
    as: :text,
    input_html: ihtml
  %>

<% else %>
  <p>Tipo <%= tipo %> no definido.</p>
<% end %>
