<% f.object = Mr519Gen::Campo.new() if !f.object %>

<tr class='nested-fields'>
  <td>
    <%= f.input :nombre, 
      label: false %>
    <%= f.input :nombreinterno, 
      label: false,
      input_html: { 'data-toggle' => 'tooltip',
        'title' => 'Sugerimos una palabra o algunas separadas por _. Máximo 60 caracteres. Puede constar de minúsculas, digitos y _.'
    } %>
  </td>
  <td>
    <%= f.input :tipo, 
      collection: Mr519Gen::ApplicationHelper::TIPOS_CAMPO,
      input_html: {
        style: 'width: 9em'
      },
      label: false %>
  </td>
  <td>
    <%= f.input :ayudauso, label: false %>
    <% clasedisp = 'display: none' %>
    <% if f.object.tipo == Mr519Gen::ApplicationHelper::SELECCIONMULTIPLE ||
      f.object.tipo == Mr519Gen::ApplicationHelper::SELECCIONSIMPLE %>
      <% clasedisp = 'display: block' %>
    <% end %>
    <div class="espopciones" style="<%= clasedisp %>">
      <% if f.object.opcioncs.count > 0 %>
        <hr>
        <%= f.simple_fields_for :opcioncs, f.object.opcioncs.order(:id) do |o| %>
          <%= render 'fila_opcionescs', f:  o %>
        <% end %>
      <% end %>
      <div class="links-opcionescs">
        <%= link_to_add_association t('Agregar opción'), f, :opcioncs, {
          #:"data-association-insertion-node" => "tbody#opciones", 
          #:"data-association-insertion-method" => "append", 
          partial: 'fila_opcionescs',
          class: 'btn btn-sm btn-primary', 
            "data-ajax" => mr519_gen.new_opcioncs_path,
            "data-ajaxdata" => "formulario_campo_id" 
        } %>
      </div>
    </div>

    <% clasetb = 'display: none' %>
    <% ab = Ability.new %>
    <% if f.object.tipo == Mr519Gen::ApplicationHelper::SMTABLABASICA ||
      f.object.tipo == Mr519Gen::ApplicationHelper::SSTABLABASICA %>
      <% clasetb = 'display: block' %>
    <% end %>
    <% ntablas = {} %>
    <% tablasor = Sip::ModeloHelper.lista_tablas_basicas(current_ability, ntablas) %>
    <% ntablas = ntablas.map {|k,v| [k, v.delete_prefix('admin/')]}.to_h %>
    <% #byebug %>
    <div class="tablabasica" style="<%= clasetb %>">
      <%= f.input :tablabasica, 
        collection: ntablas.sort.to_h,
        label: t("Tabla básica") %>
    </div>
  </td>
  <td>
    <%= f.input :obligatorio, label: false %>
  </td>
  <td>
    <%= f.input :fila, label: false %>
    <%= f.input :columna, label: false %>
    <%= f.input :ancho, label: false %>
  </td>
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association t('Eliminar'), f, 
      :class => 'btn-danger eliminaCampos',
      "data-existing" => true %>
    <div><%= f.error_notification %></div>
  </td>
</tr>
