<%= turbo_frame_tag "opcioncs_#{subf.index}_#{f.index}", class: 'div-tabla-fila nested-fields' do %>
  <div class="nested-fields opcioncs">
    <%= f.input :id, as: :hidden %>
    <div class="div-tabla-celda">
      <%= f.input :nombre, 
        label: false,
        placeholder: 'Nombre'
      %>
    </div>
    <div class="div-tabla-celda">
      <%= f.input :valor, 
        label: false,
        placeholder: 'Valor'
      %>
    </div>
    <div class="div-tabla-celda">
      <%= f.submit "Eliminar",
        formaction: mr519_gen.eliminar_opcioncs_path(
          id: f.object.id, 
          index: f.index,
          index_campo: subf.index
        ),
        formmethod: :delete,
        formnovalidate: true,
        class: 'btn btn-sm btn-danger',
        data: {
          turbo_frame: "opcioncs_#{subf.index}_#{f.index}",
          disable_with: false
        } %>
      <div><%= f.error_notification %></div>
    </div>
  </div>
<% end %>
