<%= turbo_frame_tag "campo_#{f.index}", class: 'div-tabla-fila nested-fields' do %>
  <% f.object = Mr519Gen::Campo.new() if !f.object %>
  <div class="div-tabla-celda">
    <%= f.input :nombre, 
      label: false %>
    <%= f.input :nombreinterno, 
    label: false,
    input_html: { 
      'data-toggle' => 'tooltip',
      'title' => 'Sugerimos una palabra o algunas separadas por _. Máximo 60 caracteres. Puede constar de minúsculas, digitos y _.'
} %>
  </div>
  <div class="div-tabla-celda">
    <%= f.input :tipo, 
      collection: Mr519Gen::ApplicationHelper::TIPOS_CAMPO,
      input_html: {
        style: 'width: 9em'
      },
      label: false %>
  </div>
  <div class="div-tabla-celda">
    <%= f.input :ayudauso, label: false %>
    <% clasedisp = 'display: none' %>
    <% if f.object.tipo == Mr519Gen::ApplicationHelper::SELECCIONMULTIPLE ||
        f.object.tipo == Mr519Gen::ApplicationHelper::SELECCIONSIMPLE %>
      <% clasedisp = 'display: block' %>
    <% end %>
    <div class="espopciones" style="<%= clasedisp %>">
      <hr>
      <div class="div-tabla">
        <% index_campo = f.index %>
        <div id=<%= "campo_#{index_campo}_opcioncs_marco" %> class="panel-body table responsive" >
          <%= f.simple_fields_for :opcioncs, 
            child_index: params[:index] do |opf| %>
            <%= render "mr519_gen/formularios/fila_opcionescs", 
              f: opf, 
              subf: f,
              index_op: params[:index]
            %>
          <% end %>
        </div>
        <%= f.submit "Agregar opción", 
          formaction: mr519_gen.crear_opcioncs_path(
            index: f.object.opcioncs.size,
            index_campo: index_campo
          ),
          formmethod: :post,
          formnovalidate: true,
          class: 'btn btn-sm btn-primary',
          name: "agregar-opcion-#{index_campo}",
          id: "agregar-opcion-#{index_campo}",
          data:  {
            disable_with: false } %> 
      </div>
    </div>

    <% clasetb = 'display: none' %>
    <% ab = Ability.new %>
    <% if f.object.tipo == Mr519Gen::ApplicationHelper::SMTABLABASICA ||
        f.object.tipo == Mr519Gen::ApplicationHelper::SSTABLABASICA %>
      <% clasetb = 'display: block' %>
    <% end %>
    <% ntablas = {} %>
    <% tablasor = Msip::ModeloHelper.lista_tablas_basicas(current_ability, ntablas) %>
    <% ntablas = ntablas.map {|k,v| [k, v.delete_prefix('admin/')]}.to_h %>
    <% #byebug %>
    <div class="tablabasica" style="<%= clasetb %>">
      <%= f.input :tablabasica, 
        collection: ntablas.sort.to_h,
        label: t("Tabla básica") %>
    </div>
  </div>
  <div class="div-tabla-celda">
    <%= f.input :obligatorio, label: false %>
  </div>
  <div class="div-tabla-celda">
    <%= f.input :fila, label: false %>
    <%= f.input :columna, label: false %>
    <%= f.input(:ancho, label: false) %>
  </div>
  <div class="div-tabla-celda">
    <%= f.input(:id, as: :hidden) %>
    <%= f.submit("Eliminar",
      formaction: eliminar_campo_path(id: f.object.id, index: f.index),
      formmethod: :delete,
      formnovalidate: true,
      class: "btn btn-sm btn-danger",
      data: {
        turbo_frame: "campo_#{f.index}",
        disable_with: false
      }) %>
    <div><%= f.error_notification %></div>
  </div>
<% end %>
